* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #000;
  margin: 0;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 90px;
  height: 90px;
  background-color: #689F38;
  transition: transform 300ms ease-out;
  transition-delay: 1s;
}

.expand {
  transform: scale(2.5);
}
button {
  background-color:white;

}